<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CurrentConnectionString" value="desktop-ifji7fpConnectionString" />
  </appSettings>
  <connectionStrings>
    <add name="localConnectionString" connectionString="Data Source=localhost;Initial Catalog=SimpleRacingSimulator;Integrated Security=True;" />
    <add name="desktop-ifji7fpConnectionString" connectionString="Data Source=DESKTOP-I3JNR48\SQLEXPRESS;Initial Catalog=SimpleRacingSimulator;Integrated Security=True;" />
  </connectionStrings>
</configuration>